body{
	background-color: #7FFFD4;
}

.card{
    background-color: rgb(244,164,96);
}

.card-title{
    color: black; font-family: arial;
}

.btn{
	font-family: arial;
}

.btn:hover{
    background-color: blue;
    top: -5px;
}

.btn:active{
    position: relative;
    top: 5px;
    box-shadow: none;
}

.formulario{
	color: black; 
	font-family: arial;
	font-size: 16px;
    font-weight: bold;
}

#formularioInterno{
	background-color: white;
}

.link{
	color: blue; 
	text-decoration: underline;
}

